body,
html {
  font-size: 16px;
  position: relative;
}

.mobile {
  display: none;
}

.dropdown-menu {
  display: block;
}

.logo {
  width: 7rem;
}

.float-left,
.float-right {
  padding: 10px 15px;
}

.float-left {
  float: left;
  width: 50%;
}

.float-right {
  float: right;
  width: 50%;
}

.avatar {
  width: 35px;
  float: right;
}

/* ****** Header *********/

.top-header {
  background-color: #0e2a47;
  height: 40px;
  line-height: 40px;
}

.top-header ul.menu {
  float: right;
  list-style: none;
  font-size: 1rem;
}

.top-header ul.menu li {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}

.top-header ul.menu li a,
.top-header ul.menu li > span {
  font-size: 0.8rem;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
}
.top-header ul.menu li a:hover {
  text-decoration: none;
}

.sprite {
  padding: 0 5px;
}

.dd-container {
  position: relative;
  cursor: pointer;
}

.dd-select {
  position: relative;
  cursor: pointer;
}

.dd-selected {
  overflow: hidden;
  padding: 10px;
}

.dd-select .fa-caret-up {
  display: none;
}

.dd-select .fa {
  color: #627488;
  font-size: 16px;
}

#country-select .dd-option-image,
#country-select .dd-selected-image {
  height: 20px;
  margin-top: 2px;
}

#country-select .dd-option-image {
  margin-right: 5px;
}

.dd-selected-image {
  vertical-align: middle;
  margin-right: 5px;
  max-width: 64px;
}

#country-select .dd-selected-text {
  cursor: pointer;
}

#country-select .dd-options {
  border: none;
}

.dd-options {
  width: 185px;
  border: solid 1px #ccc;
  border-top: none;
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  background: #fff;
  z-index: 3;
}

.dd-options.show {
  display: block;
}

.dd-option .dd-option-text {
  color: #000;
}

ul.dd-options li {
  width: 100%;
  cursor: pointer;
}

ul.dd-options .dd-option,
ul.dd-options .dd-option label {
  cursor: pointer;
}

/* ****** Header Search ******* */

.header-search ul li {
  float: left;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.header-search ul li:not(:nth-child(1)) {
  margin-top: 15px;
}

.desktop .header-search ul li:nth-child(1) {
  width: 15%;
}
.desktop .header-search ul li:nth-child(2) {
  width: 35%;
}
.desktop .header-search ul li:nth-child(3),
.desktop .header-search ul li:nth-child(4),
.desktop .header-search ul li:nth-child(5) {
  width: calc(50% / 3);
}

.input-search {
  height: 48px;
  border: 1px solid #bdbdbd;
}

.btn.btn-search {
  height: 48px;
  padding: 12px 20px;
  font-size: 18px;
  background-color: #00a8e5;
  color: white;
  border-radius: 0px 4px 4px 0px;
}

.subscribe,
.discount {
  font-family: 'Open Sans';
  font-size: 0.9rem;
  color: #828282;
  margin-bottom: 0;
  line-height: 22px;
}

.discount {
  color: #4f4f4f;
  font-weight: bold;
}

.btn-subscribe,
.btn-cart {
  font-size: 1rem;
  border-radius: 4px;
}

.btn-subscribe {
  font-family: 'Montserrat';
  color: white;
  background-color: #f2994a;
  text-transform: uppercase;
  padding: 10px 25px;
}

.btn-cart {
  font-family: 'Open Sans';
  border: 1px solid #f2994a;
  color: #f2994a;
  font-weight: 600;
  background-color: transparent;
  padding: 10px 15px;
}

.txt-cart {
  padding-left: 10px;
  padding-right: 10px;
}

.badge {
  background-color: #f2994a;
  border-radius: 4px;
  padding: 5px;
}

/* Horizontally Menu */
.horizontally-menu {
  background-color: #ebf7fc;
  height: 56px;
  line-height: 56px;
}
.horizontally-menu.menu {
  background-color: #00a8e5;
  height: 80px;
  line-height: 80px;
}
.horizontally-menu ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
}
.horizontally-menu ul li {
  list-style: none;
}

.horizontally-menu li a {
  text-transform: uppercase;
  color: #4f4f4f;
  font-size: 0.8rem;
}

.horizontally-menu.menu li a {
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.horizontally-menu li a:hover {
  text-decoration: none;
}

.be-item svg {
  position: relative;
  top: 8px;
}

/* ******** Footer ********** */

footer {
  background-color: #0e2a47;
  color: white;
}

footer h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
}

footer a,
footer span {
  font-size: 0.75rem;
  color: white;
  opacity: 0.6;
  line-height: 18px;
}

footer a:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}

footer .bottom {
  background-color: #061d36;
  color: #4b6e94;
}

footer .row {
  padding: 0 100px;
}

footer .bottom .row {
  padding-top: 15px;
  padding-bottom: 15px;
}

footer .bottom p {
  margin: 0;
  font-size: 0.8rem;
}

.social-icon a.fa {
  color: #4b6e94;
  padding-left: 5px;
  font-size: 30px;
}

.social-icon a.fa:hover {
  color: #fff;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0px;
}

.custom-dropdown select {
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  padding: 0.5em;
  /* padding-right: 2.5em; */
  border: 1px solid #fff;
  margin: 0;
  border-radius: 4px;
  text-indent: 0.01px;
  text-overflow: '';
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.custom-dropdown select::-ms-expand {
  display: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: '';
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  content: '';
  background-image: url(./images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  right: 0;
  top: 0;
  width: 16px;
  transform: translateX(-50%);
}

.custom-dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 4px 4px 0;
  background-color: #fff;
}

.custom-dropdown::after {
  color: rgba(0, 0, 0, 0.6);
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.25);
}

.mobile .input-group {
  margin: 15px;
}

.mobile .logo {
  width: 50px;
  margin-left: 15px;
}

.mobile .btn-cart {
  border: none;
  padding: 0 15px 0 0;
}

.mobile .hamburger-icon,
.mobile .logo {
  display: inline;
}

.mobile .fa-shopping-cart {
  font-size: 30px;
}

.mobile .badge {
  background-color: transparent;
  color: #f2994a;
  font-size: 1.5rem;
  top: -5px;
}

.vertical-menu {
  background-color: #00a8e5;
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  min-height: 100%;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.vertical-menu.show {
  left: 0;
  padding: 0;
}

.vertical-menu ul li {
  list-style: none;
  padding: 15px 0px;
}

.vertical-menu li a {
  font-family: 'Montserrat';
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.top {
  position: absolute;
  top: -60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 100%;
  background-color: white;
}

.top img.close-menu {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}

.top p {
  font-family: 'Noto Sans';
  text-transform: uppercase;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
}

/* Responsive */
@media screen and (max-width: 992px) {
  body,
  html {
    font-size: 13px;
  }
  .container {
    width: 100%;
  }
  .btn-cart,
  .btn-subscribe {
    padding: 6px 12px;
  }
}
@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  footer .row {
    padding: 0;
  }
}
